main {
  width: 90vw;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 12px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
}

.app__list {
    padding: 0;
}

.app__list-todo, .app__list--complited {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 8px;
    border: 1px solid #000;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 12px;
}

.app__btn--remove, .app__btn--approve {
    border: none;
    background-color: #fff;
}